// TEXT
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// COLOR PALETTE
$text-color: #181f1c;
$primary-color: #feaa02;
$secondary-color: #740602;
// $secondary-color: #5D1100;
// $tertiary-color: #394f49;
$tertiary-color: #264f36;
