.ms_form-card-wrapper {
    padding-block: 4rem;
    width: 100vw;
    background: center / cover url('../images/background-registerform.jpg');
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.5) inset;

    &-login {
        height: 100vh;
    }
}
.ms_form-card {
    width: 50%;
    background-color: white;
    border: 1px solid $secondary-color;
    border-radius: 1rem;
    box-shadow: 0 0 10px black;

    &.ms_login-card {
        width: 40%;
    }
}

// card header
.ms_form-card-header {
    padding-block: 1rem;
    text-align: center;
    color: $primary-color;
    border-bottom: 1px solid $secondary-color;
    font-size: 2rem;
    font-weight: 600;
}

// card body
.ms_form-card-body {
    padding: 2rem 4rem;

    input:not([type="checkbox"]),
    textarea {
        margin-bottom: 0.5rem;
    }
}