.ms_register-card {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -20%;
    border: 1px solid lightgray;
    border-radius: 0.3rem;
}

// card header
.ms_register-card-header {
    padding-block: 1rem;
    text-align: center;
    color: $primary-color;
    border-bottom: 1px solid lightgray;
}

// card body
.ms_register-card-body {
    padding: 2rem;
}